In [2]:
import os
import pandas as pd
current_dir = os.path.dirname(os.path.abspath(__name__))
data_dir = os.path.join(current_dir,'data')
csv_filename = '台鐵車站資訊.csv'
csv_path = os.path.join(data_dir,csv_filename)
station_info = pd.read_csv(csv_path)
csv1_filename = '每日各站進出站人數2020.csv'
csv1_path = os.path.join(data_dir, csv1_filename)
inOut2020_df = pd.read_csv(csv1_path)
inOut2020_merge = pd.merge(inOut2020_df, station_info,how='left',left_on="staCode",right_on="stationCode")
#清理資料
df1 = inOut2020_merge.reindex(columns=['trnOpDate','gateInComingCnt','gateOutGoingCnt','stationName'])
df1.columns = ['日期','進站人數','出站人數','站名']
df1['日期'] = pd.to_datetime(df1['日期'].astype(str))
df2 = df1.set_index('日期')
df2

            進站人數  出站人數   站名
日期
2020-01-01  7552  8154   基隆
2020-01-01  1020  1135   三坑
2020-01-01  1623  1972   八堵
2020-01-01  4130  4813   七堵
2020-01-01  1818  2128   百福
...          ...   ...  ...
2020-12-31  3523  3602   瑞芳
2020-12-31     3    18  海科館
2020-12-31    28    34  八斗子
2020-12-31   609   604  四腳亭
2020-12-31   377   444   暖暖

[86932 rows x 3 columns]

In [ ]:
##依據值的搜尋
##mask
df2[df2['站名'] == "基隆"]

            進站人數  出站人數  站名
日期
2020-01-01  7552  8154  基隆
2020-01-02  7709  7240  基隆
2020-01-03  8713  8086  基隆
2020-01-04  8625  8407  基隆
2020-01-05  8015  7355  基隆
...          ...   ...  ..
2020-12-27  6960  6738  基隆
2020-12-28  7060  6759  基隆
2020-12-29  7002  6575  基隆
2020-12-30  6690  6200  基隆
2020-12-31  9159  8124  基隆

[366 rows x 3 columns]

In [4]:
##依據值的搜尋
##query()
df2.query('進站人數>=10000')

             進站人數   出站人數   站名
日期
2020-01-01  10725   9562   南港
2020-01-01  14870  12208   松山
2020-01-01  74444  57279   臺北
2020-01-01  23186  21471   板橋
2020-01-01  13395  15180   樹林
...           ...    ...  ...
2020-12-31  32183  35163   臺南
2020-12-31  17708  16769  新左營
2020-12-31  17568  20872   高雄
2020-12-31  15030  14346   屏東
2020-12-31  18276  21959   花蓮

[5244 rows x 3 columns]

## 統計
- 站名有重複的名稱
- groupby()

In [6]:
df2.groupby(by='站名').sum()

        進站人數     出站人數
站名
七堵   2023475  2055442
三坑    457042   466250
三塊厝   147363   160297
三姓橋   386310   345666
三民      2748     4164
..       ...      ...
鼓山     72794    75636
龍井    129583   126229
龍泉      5827     6710
龍港      5581     7490
龜山     33665    32326

[239 rows x 2 columns]

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 86932 entries, 2020-01-01 to 2020-12-31
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   進站人數    86932 non-null  int64
 1   出站人數    86932 non-null  int64
 2   站名      86932 non-null  object
dtypes: int64(2), object(1)
memory usage: 2.7+ MB

In [13]:

df2[['進站人數','出站人數']].resample('ME').sum()

                進站人數      出站人數
日期
2020-01-31  19993675  19993675
2020-02-29  15671872  15671872
2020-03-31  15315217  15315217
2020-04-30  13113386  13113386
2020-05-31  15326842  15326842
2020-06-30  16976704  16976704
2020-07-31  18298257  18298257
2020-08-31  18518554  18518554
2020-09-30  17698221  17698221
2020-10-31  19477695  19477695
2020-11-30  18711859  18711859
2020-12-31  19177729  19177729