https://www.perplexity.ai/search/9c6a8379-fbdb-4945-89ea-3584cefc373d

In [2]:
import numpy as np
import pandas as pd

np.random.seed(678)
df = pd.DataFrame(np.random.randn(10, 4),columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  2.726449  1.190933  0.293829  1.876461
1 -0.441751 -0.191540 -0.571803 -2.104558
2  1.460083  1.192514 -0.335723 -0.162765
3 -1.813828  0.649829 -0.062502 -0.708381
4  0.440574  0.350887 -0.641200  0.981867
5  0.940445 -2.578061 -0.529016 -2.225995
6 -0.582124 -0.121710  0.704528  0.266221
7  0.302669 -1.388075 -2.133593 -0.209116
8  0.149915 -0.454867  0.468415  1.832976
9  0.253020  0.048876 -0.133189  0.389819

In [9]:
def style_negative(v,props=''):
    return props if v < 0 else None

df.style.map(style_negative, props="color:red")
df.style.map(style_negative, props="color:red",subset=['A'])
df.style.map(style_negative, props="color:red",subset=['A','C'])
df.style.map(style_negative, props="color:red",subset=(slice(0,4)))\
.map(lambda v: 'opacity:20%' if (v<0.3) and (v>-0.3) else None)