https://www.perplexity.ai/search/82b3cc0b-e583-48fc-9136-5a616ef6a6fc

In [2]:
import numpy as np
import pandas as pd 

#美國球賽門票收入
tips_df = pd.read_csv('./data/tips.csv')
tips_df.columns = ['總票價', '小費', '吸煙者', '日期', '時間', '大小']
tips_df

       總票價    小費  吸煙者    日期      時間  大小
0    16.99  1.01   No   Sun  Dinner   2
1    10.34  1.66   No   Sun  Dinner   3
2    21.01  3.50   No   Sun  Dinner   3
3    23.68  3.31   No   Sun  Dinner   2
4    24.59  3.61   No   Sun  Dinner   4
..     ...   ...  ...   ...     ...  ..
239  29.03  5.92   No   Sat  Dinner   3
240  27.18  2.00  Yes   Sat  Dinner   2
241  22.67  2.00  Yes   Sat  Dinner   2
242  17.82  1.75   No   Sat  Dinner   2
243  18.78  3.00   No  Thur  Dinner   2

[244 rows x 6 columns]

In [3]:
tips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   總票價     244 non-null    float64
 1   小費      244 non-null    float64
 2   吸煙者     244 non-null    object
 3   日期      244 non-null    object
 4   時間      244 non-null    object
 5   大小      244 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 11.6+ KB

In [7]:
tips_df['小費比例'] = tips_df['小費'] / tips_df['總票價']
tips_df

       總票價    小費  吸煙者    日期      時間  大小      小費比例
0    16.99  1.01   No   Sun  Dinner   2  0.059447
1    10.34  1.66   No   Sun  Dinner   3  0.160542
2    21.01  3.50   No   Sun  Dinner   3  0.166587
3    23.68  3.31   No   Sun  Dinner   2  0.139780
4    24.59  3.61   No   Sun  Dinner   4  0.146808
..     ...   ...  ...   ...     ...  ..       ...
239  29.03  5.92   No   Sat  Dinner   3  0.203927
240  27.18  2.00  Yes   Sat  Dinner   2  0.073584
241  22.67  2.00  Yes   Sat  Dinner   2  0.088222
242  17.82  1.75   No   Sat  Dinner   2  0.098204
243  18.78  3.00   No  Thur  Dinner   2  0.159744

[244 rows x 7 columns]

In [14]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

grouped = tips_df.groupby(by=['日期','吸煙者'])
grouped['小費'].agg([('平均小費','mean'),('加總','sum'),('標準差','std'),('最多和最少的差',peak_to_peak)])

              平均小費      加總       標準差  最多和最少的差
日期   吸煙者
Fri  No   2.812500   11.25  0.898494     2.00
     Yes  2.714000   40.71  1.077668     3.73
Sat  No   3.102889  139.63  1.642088     8.00
     Yes  2.875476  120.77  1.630580     9.00
Sun  No   3.167895  180.57  1.224785     4.99
     Yes  3.516842   66.82  1.261151     5.00
Thur No   2.673778  120.32  1.282964     5.45
     Yes  3.030000   51.51  1.113491     3.00