https://www.perplexity.ai/search/82b3cc0b-e583-48fc-9136-5a616ef6a6fc

In [2]:
import numpy as np
import pandas as pd 

#美國球賽門票收入
tips_df = pd.read_csv('./data/tips.csv')
tips_df.columns = ['總票價', '小費', '吸煙者', '日期', '時間', '大小']
tips_df

       總票價    小費  吸煙者    日期      時間  大小
0    16.99  1.01   No   Sun  Dinner   2
1    10.34  1.66   No   Sun  Dinner   3
2    21.01  3.50   No   Sun  Dinner   3
3    23.68  3.31   No   Sun  Dinner   2
4    24.59  3.61   No   Sun  Dinner   4
..     ...   ...  ...   ...     ...  ..
239  29.03  5.92   No   Sat  Dinner   3
240  27.18  2.00  Yes   Sat  Dinner   2
241  22.67  2.00  Yes   Sat  Dinner   2
242  17.82  1.75   No   Sat  Dinner   2
243  18.78  3.00   No  Thur  Dinner   2

[244 rows x 6 columns]

In [3]:
tips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   總票價     244 non-null    float64
 1   小費      244 non-null    float64
 2   吸煙者     244 non-null    object
 3   日期      244 non-null    object
 4   時間      244 non-null    object
 5   大小      244 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 11.6+ KB

In [7]:
tips_df['小費比例'] = tips_df['小費'] / tips_df['總票價']
tips_df

       總票價    小費  吸煙者    日期      時間  大小      小費比例
0    16.99  1.01   No   Sun  Dinner   2  0.059447
1    10.34  1.66   No   Sun  Dinner   3  0.160542
2    21.01  3.50   No   Sun  Dinner   3  0.166587
3    23.68  3.31   No   Sun  Dinner   2  0.139780
4    24.59  3.61   No   Sun  Dinner   4  0.146808
..     ...   ...  ...   ...     ...  ..       ...
239  29.03  5.92   No   Sat  Dinner   3  0.203927
240  27.18  2.00  Yes   Sat  Dinner   2  0.073584
241  22.67  2.00  Yes   Sat  Dinner   2  0.088222
242  17.82  1.75   No   Sat  Dinner   2  0.098204
243  18.78  3.00   No  Thur  Dinner   2  0.159744

[244 rows x 7 columns]

In [16]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

grouped = tips_df.groupby(by=['日期','吸煙者'])
tips_df2 = grouped['小費'].agg([('平均小費','mean'),('加總','sum'),('標準差','std'),('最多和最少的差',peak_to_peak)])
tips_df2.columns.name='統計'
tips_df2

統計            平均小費      加總       標準差  最多和最少的差
日期   吸煙者
Fri  No   2.812500   11.25  0.898494     2.00
     Yes  2.714000   40.71  1.077668     3.73
Sat  No   3.102889  139.63  1.642088     8.00
     Yes  2.875476  120.77  1.630580     9.00
Sun  No   3.167895  180.57  1.224785     4.99
     Yes  3.516842   66.82  1.261151     5.00
Thur No   2.673778  120.32  1.282964     5.45
     Yes  3.030000   51.51  1.113491     3.00

In [17]:
tips_df2.unstack(level='日期')

統計     平均小費                                   加總                          \
日期      Fri       Sat       Sun      Thur    Fri     Sat     Sun    Thur
吸煙者
No   2.8125  3.102889  3.167895  2.673778  11.25  139.63  180.57  120.32
Yes  2.7140  2.875476  3.516842  3.030000  40.71  120.77   66.82   51.51

統計        標準差                               最多和最少的差
日期        Fri       Sat       Sun      Thur     Fri  Sat   Sun  Thur
吸煙者
No   0.898494  1.642088  1.224785  1.282964    2.00  8.0  4.99  5.45
Yes  1.077668  1.630580  1.261151  1.113491    3.73  9.0  5.00  3.00

In [18]:
tips_df2.T

日期             Fri                    Sat                     Sun             \
吸煙者             No        Yes          No         Yes          No        Yes
統計
平均小費      2.812500   2.714000    3.102889    2.875476    3.167895   3.516842
加總       11.250000  40.710000  139.630000  120.770000  180.570000  66.820000
標準差       0.898494   1.077668    1.642088    1.630580    1.224785   1.261151
最多和最少的差   2.000000   3.730000    8.000000    9.000000    4.990000   5.000000

日期             Thur
吸煙者              No        Yes
統計
平均小費       2.673778   3.030000
加總       120.320000  51.510000
標準差        1.282964   1.113491
最多和最少的差    5.450000   3.000000

In [22]:
grouped = tips_df.groupby(by=['吸煙者','日期'])
functions = [('數量','count'),('平均','mean'),('最大值','max')]
tips_df3 = grouped[['小費','總票價']].agg(functions)
tips_df3

          小費                  總票價
          數量        平均    最大值  數量         平均    最大值
吸煙者 日期
No  Fri    4  2.812500   3.50   4  18.420000  22.75
    Sat   45  3.102889   9.00  45  19.661778  48.33
    Sun   57  3.167895   6.00  57  20.506667  48.17
    Thur  45  2.673778   6.70  45  17.113111  41.19
Yes Fri   15  2.714000   4.73  15  16.813333  40.17
    Sat   42  2.875476  10.00  42  21.276667  50.81
    Sun   19  3.516842   6.50  19  24.120000  45.35
    Thur  17  3.030000   5.00  17  19.190588  43.11

In [25]:
tips_df3['小費']
tips_df3['小費'][['數量','平均']]

          數量        平均
吸煙者 日期
No  Fri    4  2.812500
    Sat   45  3.102889
    Sun   57  3.167895
    Thur  45  2.673778
Yes Fri   15  2.714000
    Sat   42  2.875476
    Sun   19  3.516842
    Thur  17  3.030000